extends layout

block content
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        #jumb

        .jumbotron
          h1= 'Newark Homeless Numbers'
          h5= "A collection of data and statistics on Newark's homeless problems and their leading factors"
    .row
      .col-md-4.col-md-offset-7#mainPar
        p
          | This page is dedicated to providing data and statistics on Newark's homeless by displaying relevant data
          | using visual graphing utilities. Since it is hard to find statistics on this topic, specifically for Newark,
          | I hope this can help those who are looking for information on the subject.

        h3
          a( class='btn btn-success', href='/graphs') View graphs

