nav( class='navbar navbar-default' )
    .container-fluid
        <!-- Brand and toggle get grouped for better mobile display -->
        .navbar-header
            button( type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span( class='sr-only') Toggle navigation
                span( class='icon-bar')
                span( class='icon-bar')
                span( class='icon-bar')

            a( class='navbar-brand', href='#')

        <!-- Collect the nav links, forms, and other content for toggling -->
        div( class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
            ul( class='nav navbar-nav')
                if (title == 'index')
                    li( class='active')
                        a( href='/') Home
                            span( class='sr-only') (current)

                    li
                        a(href='/graphs') Graphs
                else if (title == 'graphs')
                    li
                        a( href='/') Home
                            span( class='sr-only') (current)

                    li( class='active')
                        a(href='/graphs') Graphs