extends layout
block content
    .container-fluid
        .row
            .col-md-12
                h1 Sources
                h4 All data used to make the graphs and otherwise mentioned on this website is originally from the sources listed below

                p
                    a(href='https://catalog.data.gov/dataset/directory-of-homeless-population-by-year-ffe5a') https://catalog.data.gov/dataset/directory-of-homeless-population-by-year-ffe5a
                p
                    a(href='http://www.csh.org/wp-content/uploads/2013/07/2013StateReportFinal.pdf') http://NewarkHomeless.csh.org/wp-content/uploads/2013/07/2013StateReportFinal.pdf
                p
                    a(href='http://www.csh.org/wp-content/uploads/2013/09/2013EssexCountyFinal.pdf') http://NewarkHomeless.csh.org/wp-content/uploads/2013/09/2013EssexCountyFinal.pdf
                h5 CSV data used for the graphs
                p
                    a(href='http://data.ci.newark.nj.us/dataset/certificate-of-occupancy') http://data.ci.newark.nj.us/dataset/certificate-of-occupancy
                p
                    a(href='http://data.ci.newark.nj.us/dataset/newark-economic-data') http://data.ci.newark.nj.us/dataset/newark-economic-data
                p
                    a(href='http://data.ci.newark.nj.us/dataset/newark-unemployment-rate') http://data.ci.newark.nj.us/dataset/newark-unemployment-rate
                p
                    a(href='http://data.ci.newark.nj.us/dataset/new-jersey-housing-indicators') http://data.ci.newark.nj.us/dataset/new-jersey-housing-indicators
                p
                    a(href='http://data.ci.newark.nj.us/dataset/new-jersey-people-indicators') http://data.ci.newark.nj.us/dataset/new-jersey-people-indicators